<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/master.css">
    <title>Dischi</title>
</head>
<body>
    <div id="root">
       <div class="left">
        <select v-model="selected">
            <option  >All </option>
            <option v-for="gen in genre" > {{ gen }} </option>
          </select>
 
          <div class="order">
              <p>Ordina per anno crescente</p>
              <input type="checkbox" id="checkbox"  v-model="checked"  @click="sortF()" >
          </div>
       </div>

       <div class="rigth">
        <div v-if="(selected != 'All' )? selected == disco.genre: disco "    class="card-container" v-for="(disco) in dischi">
            <div class="card" >
                <div class="front" :style="`background-image: url('${disco.poster}');`">
                    
                </div>
                <div class="back">
                    <span>Title: {{disco.title}} </span>
                    <span>Author: {{disco.author}} </span>
                    <span>Genre: {{disco.genre}} </span>
                    <span>Year: {{disco.year}} </span>
                </div>
            </div>
        </div>
       </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>