*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0, .85);
}

.left{
    width: 20%;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0,0, .85);
}

.rigth{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    
}

.card-container{
    margin: auto;
    justify-self: flex-end;
    
}


.card{
	width:200px;
	height:200px;
	position:relative;
	transform-style:preserve-3d;
    margin:auto auto;
    justify-self: left;
}
.card-container{
	-webkit-perspective:1000;
	-moz-perspective:1000;
	-o-perspective:1000;
	perspective:1000;
	position:relative;
	width:200px;
	height:200px;
    margin: 10px;
}
.front, .back{
	width:100%;
	height:100%;
	position:absolute;
	backface-visibility:hidden;
	transition:transform 400ms;
	transition-timing-function:linear;
	transform-origin:center center;
}
.card .front{
	background-size: cover;
    background-repeat: no-repeat;
	transform:rotateX(0deg);
}
.card .back{
	background:rgba(0, 0,0,.85);
	transform:rotateX(180deg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}
.card:hover .front {
	transform:rotateX(-180deg);
}
.card:hover .back {
	transform:rotateX(0deg);
}

span{
    padding: 5px;
    color: white;
    margin-left: 20px;
}